* {
  text-shadow: none;
}

.container_homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vmax;
  background-color: white;
}

.container_homepage img {
  width: 480px;
  height: 320px;
  margin-top: -10%;
}
